@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    ViewData["Title"] = "Wuzzy Bears List";
}

<h2>Company's Teddy Bears List</h2>

<p>Hello from our View Template for Wuzzy Bears Company !</p>
