@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}

<h2>Wuzzy Bears Company</h2>

<h3>Introduction :</h3>
<p>The Company was established in 20 May, 2021! The Founder of the company is <b>Mitali Katudia</b>. 
    She was determined to create a space where only Teddy Bears are sold since she was a fan of them since childhood.
    She decided to open a company in her home town in a small environment which now is a global known brand for Kids' Teddy Bears.</p>

<h3>Headquaters :</h3>
<p>The Company Origin is in one of the Busiest Cities called <em>Mumbai</em> in the West Coast of <em>India</em>. 
    The company now expands over the world promising its services in many other countries as well as an Online Website to see the 
    Available Types of Teddy Bears in the store. </p>

<h3>Company Staff :</h3>
<p>The Wuzzy Bears Company is known for their services. They are able to do so with the applaudable employees. A minimum of 15 
    sales representatives on every company branch are ready to assist the clients with their welcoming services.</p>

<h3>Teddy Bears :</h3>
<p>The name <strong>Wuzzy Bears</strong> itself means that the Teddies are meant to be 'fuzzy and wuzzy' in looks, materials as well as prices. 
    The company offers numerous teddy bears for all age groups with a variety of sizes in a very affordable price range. The Teddy Bears 
    are made up of high quality material which are lab-qualified for small kids and are in no way harmful.</p>

<h3>Some Of the Company's Best Sellers :</h3>

<div class="rowImg">
    <div class="columnImg">
        <img src="../Images/Teddy1.jpg">
        <img src="../Images/Teddy2.jpg">
        <img src="../Images/Teddy6.jpg">
        <img src="../Images/Teddy4.jpg">
    </div>
    <div class="columnImg">
        <img src="../Images/Teddy5.jpg">
        <img src="../Images/Teddy3.jpg">
        <img src="../Images/Teddy7.jpg">
        <img src="../Images/Teddy8.jpg">
    </div>
</div>
