@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}

<h2>Wuzzy Bears Company Introduction</h2>

<p>The Company was established in 20 May, 2022!</p>
