@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <em>Wuzzy Bears Company</em></h1>
    <p>Company Application by: <strong><em>Mitali Katudia</em></strong></p>
    <img class="homeImg" src="../Images/WuzzyBears.jpg" width="1000">
</div>
