@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <em>Wuzzy Bears Company</em></h1>
    <p>Company Application by: Mitali Katudia</p>
    <img class="homeImg" src="../Images/WuzzyBears.jpg">
</div>
